<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lumix Shop</title>
    <link rel="icon" type="image/png" href="../asset/icon.jpg">
    <link rel="stylesheet" href="../css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap" rel="stylesheet">

</head>
<body>
    <div>
        <nav style='text-align:center;'>
            <ul>
            <li><img src="../asset/1280px-Lumix_logo.svg.png" alt="" width="200px" height="73px" margin-top="20px"></li>            
            <li><a href="page1.html">beranda</a></li>
            <li><a href="page2.html">Toko kami</a></li>
            <li><a href="https://shop.panasonic.com/cameras-and-camcorders/cameras">Model Kamera</a></li>
            <li><a href="">tentang</a></li>
            <li><a href="">kontak</a></li>
            </ul>
        </nav>
    </div>
    <div class="judul2">
        <center><h1>WELCOME LUMIX SHOP</h1></center>
        <center><h2>menjual berbagai model kamera digital dari panasonic lumix dengan garansi resmi</h2></center>
    </div>
    <div class="kontener">
        <div class="cara">
        <h3>kenapa belinya harus di LUMIX SHOP??</h3>
        <ul type="square">
            <li>Barang dijamin ORIGINAL 1 MILYAR PERSEN!!!</li>
            <li>Garansi uang kembali bila tidak ORIGINAL</li>
            <li>Garansi Panasonic gobel (garansi resmi panasonic)</li>
            <li>Menyediakan banyak aksesoris dan lensa untuk kamera Lumix</li>
        </ul>
        <h3>Cara membelinya</h3>
        <ol type="1">
            <li>pilih kamera yang anda suka</li>
            <li>tanya ketersediaan stok pada no WA kami di 0811111111111</li>
            <li>transfer ke rekening makers di nomor 093012890843098</li>
            <li>konfirmasi jika sudah di transfer</li>
            <li>anda hanya tunggu barangnya datang</li>
            <li>barang akan sampai di rumah anda dalam hitungan menit</li>
        </div>
        <div class="toko">
            <img src="../asset/toko.jpg" alt="" srcset="" title="toko kamera kami" width="400px" border="1">
        </div>
    </div>
    
    <br><br><br><br><br><br><hr><br><br>

    <div class="kontener2">
            <article>
                    <h2>LUMIX G9</h2>
                    <h4>Rp 20.990.000 &nbsp; (<small>from&nbsp;<strike>Rp 22.990.000</strike></small>)</h4>
                    <img src="../asset/lumixg9.jpg" alt="kamera lumixnya" title="Kamera Lumix G9">
                </article>
               
               <div class="spek">
                   <p style="font-size: 30px">Spesifikasi</p>
                    <table border="1">
                        <!-- ini bikin row -->
                        <tr>
                            <!-- ini bikin colom, tp jadi header -->
                            <th>
                                kategori
                            </th>
                            <th colspan="2">
                                keterangan
                            </th>
                        </tr>
                        <!-- bikin row ke dua -->
                        <tr>
                            <td rowspan="4">
                                JENIS
                            </td>
                            <td>
                                Jenis
                            </td>
                            <td>
                                Kamera DSLM (Digital Single Lens Mirrorless)
                            </td>
                            <!-- row ketiga -->
                        <tr>
                                <td>
                                    media perekam
                                </td>
                                <td>
                                    Kartu Memori SD, Kartu Memori SDHC, Kartu Memori SDXC
                                </td>
                        </tr>
                        <tr>
                                <td>
                                    Ukuran sensor gambar
                                </td>
                                <td>
                                    17,3 x 13,0 mm (dalam rasio aspek 4:3)
                                </td>
                        </tr>
                        <tr>
                                <td>
                                    Dudukan lensa
                                </td>
                                <td>
                                    Dudukan Micro Four Thirds
                        </tr>
                        <tr>
                                <td rowspan="5">
                                    SENSOR GAMBAR
                                </td>
                                <td>
                                    jenis
                                </td>
                                <td>
                                        Sensor Live MOS
                                </td>
                        </tr>
                        <tr>
                                <td>
                                    Total piksel
                                </td>
                                <td>
                                    21,77 Megapiksel
                                </td>
                        </tr>
                        <tr>
                                <td>
                                    Piksel efektif kamera
                                </td>
                                <td>
                                    20,33 Megapiksel
                                </td>
                        </tr>
                        <tr>
                                <td>
                                    Filter warna
                                </td>
                                <td>
                                    Filter warna utama
                                </td>
                        </tr>
                        <tr>
                                <td>
                                    Sistem pembersih debu
                                </td>
                                <td>
                                    Filter gelombang supersonik
                                </td>
                        </tr>
                  </table>
                </div>
    </div>
    
   

<form>
        <fieldset>
                <Legend>tambah aksesoris</Legend>
                <label for="moni">strap</label>
                <input type="checkbox" name="nama" id="moni">
                <label for="mouse">silicon pelindung</label>
                <input type="checkbox" name="nama" id="mouse"><br>
        </fieldset>
        <fieldset>
                <Legend>pilih paket</Legend>
                <label for="ram">Body Only</label>
                <input type="radio" name="nama" id="ram">
                <label for="vga">Body + lensa kit 15-55mm</label>
                <input type="radio" name="nama" id="vga"><br>
        </fieldset>
        <fieldset>
             <Legend>isi form nama dan alamat anda</Legend>
             <label for="fname">Nama anda :</label>
             <input type="text" name="nama" id="fname"><br>
             <label for="lname">Alamat anda:</label>
             <input type="text" name="alamat" id="lname"><br>
             <button type="submit">Kirim Data anda</button>
        </fieldset>
        <fieldset>
        <legend>Transfert</legend>
        <label for="programming"> pilih bank tujuan</label>
        <select name="pragraming" id="pragraming">
            <option value="python">BCA</option>
            <option value="python">MANDIRI</option>
            <option value="python">BRI</option>
            <option value="python">MAKER</option>
            <button type="submit">Kirim</button>
        </select>
    </fieldset>
    <fieldset>
            <legend>Masukan komentar anda tentang produk kami</legend>
            <textarea name="teks bebas" id="teks" cols="30" rows="10">Komentar anda</textarea>
            <button type="submit">Submit komentar</button>
        </fieldset>
</form>
<footer>
        <center><p>...Copyright © 2019 PT. BELABELI.COM...</p></center>
</footer>
</body>
</html>