* {
    box-sizing: border-box;
}

body{
    font-family: 'Exo 2';
    background-color: rgb(235, 235, 235)
}
nav{
    margin: 10px;
    display: flex;
    margin-top: 20px 
}
.sidenav {
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.952);
    overflow-x: hidden;
    transition: all 1s;
    padding-top: 60px;
    box-shadow: 5px 1px 30px 1px #888888;
  }
  div.score{
      margin-right: 20px
  }
  .sidenav a {
    padding: 30px 80px 40px 72px;
    text-decoration: none;
    font-size: 25px;
    color: #030303;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #797979;
  }
div.iconkiri{
    margin-top: 3px;
    font-size: 20px;
}
div.iconkiri i:hover{
    cursor: pointer;
    font-size: 22px;
    transition: all 500ms;
}
div.google{
    margin-left: 10px;
}
div.iconmin{
    margin-right: 30px;
    margin-top: 0px;
    font-size: 20px;
}
div.iconmin i:hover{
    cursor: pointer;
    font-size: 25px;
    transition: all 500ms;
}
div.iconplus{

    font-size: 20px;
}
div.iconplus i:hover{
    cursor: pointer;
    font-size: 25px;
    transition: all 500ms;
}

div.iconmen img{
    border-radius: 100px
}
div.bpkcontainer{
    /* background-color: black; */
    height: auto;
    /* display: flex */
}
div.container{
    /* background-color: aqua; */
    display: flex;
    margin-top: 5px;
    flex-wrap: wrap;
    justify-content: center;
}
/* div.blnk{   
    background-image: url(../asset/class.png);
    margin: -10px;

} */
div.listnama{
    margin-left: 150px;
}
div.listnama2{
    background-color: #cfcfcf;
    width: 1037px;
    margin-left: 150px;
    padding: 15px;
    border-radius: 9px;
}
div.tugasguru{
    border-color: #b0a6a6;
    width: 1037px;
    margin-left: 150px;
    padding: 14px;
    border: ridge;
    background: #d5e7c4;
    border-radius: 9px;
    flex-wrap: wrap;
    display: flex;
    margin-bottom: 20px;
}
div.kumpulansoal{
    visibility: hidden;

}
div.soalnyah{
    border-color: #b0a6a6;
    width: 1037px;
    /* margin-left: 150px; */
    padding: 14px;
    border: ridge;
    background: #d5e7c4;
    border-radius: 9px;
    margin-bottom: 20px;
}
div.jawabanyahh{
    /* visibility: hidden; */
}
div.soalguru{
    margin-left: 24px;
}
div.answernya{
    margin-left: 50px;
}
div.listjawab{
    margin-left: 150px;
}
div.list1{
    background-image: url(../asset/greenboard.jpg);
    background-size: 100%;
    /* border-style: solid; */
    width: 1100px;
    height: 209px;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    color: aliceblue;
    box-shadow: 5px 5px 9px 10px #888888;
}
.juduldiv a{
    margin-left: 50px;
    font-size: 40px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.list1 a{
    text-decoration: none;
}
.list1 img{
 border-radius: 100px;
 height: 100px;
 margin-left: 90px;
 margin-top: 0;
}

.mid{
    /* margin: auto; */
    border-radius: 10px;
    padding: 10px;
    /* border-style: groove; */
    margin-top: 22px;
    display: flex;
    width: 100vw;
    justify-content: center;
}
.boxkiri{
    width: 17%;
    height: 100%;
    /* border: 1pxSSSS solid black; */
    border-radius: 10px;
    padding: 10px;
    border-style: groove;
}
.boxkiri a.linkin{
    margin-left: 79px;
}
.coment{
    width: 75%;
    height: 110px;
    border-radius: 10px;
    padding: 10px;
    border-style: groove;
}
.coment textarea{
    width: 25%;
    height: 20px;
    margin-top: 10px;
    position: absolute;
    background-color: #d8d8d8;
    border: none;
    border-bottom: 1px solid black;
    transition: width .80s ease-in-out, height .80s ease-in-out;
}
/* .coment textarea:focus{
    width: 55%;
    height: 50px;
    outline: 0;
} */
div.jawabanyah{
    margin-top: 10px;
}
.form_login{
	/*membuat lebar form penuh*/
	box-sizing : border-box;
	width: 100%;
	padding: 10px;
	font-size: 11pt;
    margin-bottom: 20px;
    background: #d5e7c4;
}
.form_login:focus {
	outline:0;
}
input{
	border: none;
	border-bottom: 1px solid black;
}
.tombol_register{
	/* text-align: center;
    margin: 0 auto;
    align-content: center; */
    display: block;
	background: #7a7a7a;
	color: rgb(255, 254, 254);
	font-size: 11pt;
	width: 8%;
	border: none;
	border-radius: 3px;
	padding: 10px 20px;
	border-radius: 50px;
	font-family: 'Exo 2';
    cursor: pointer;
    font-size: x-small;

}
.tombol_register:hover{
    background:#22cc22;
	transition: all 1s;
}

.coment input{
    background: #7a7a7a;
	color: rgb(255, 255, 255);
    font-size: 6pt;
    width: 15%;
	border: none;
	border-radius: 3px;
	padding: 10px 20px;
	border-radius: 50px;
    font-family: 'Exo 2';
    cursor: pointer;
    margin-top: 69px;
}
.coment input:hover{
    background:#22cc22;
	transition: all 1s;
}
/* -------------------------CLASSWORK------------------
 */
 .classworker{
 
    border-style: groove;
    border-radius: 10px;
    height: 250px;
    padding: 10px;
    margin-top: 10px;
    width: 1100px;
 }

 .classworker a{
     font-size: 30px;
 }
 .classworker textarea{
    background-color: #d8d8d8;
    border: none;
    border-bottom: 1px solid black;
 }
 .classworker input{
    background: #7a7a7a;
	color: rgb(255, 255, 255);
    font-size: 6pt;
    /* width: 15%; */
	border: none;
	/* border-radius: 3px; */
	padding: 10px 20px;
	border-radius: 50px;
    cursor: pointer;
    font-family: 'Exo 2';
    /* margin-top: 69px; */
}
.classworker input:hover{
    background:#22cc22;
    transition: all 1s;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media screen and (max-width: 500px) {
    .col-1 {width: 100%;}
    .col-2 {width: 100%;}
    .col-3 {width: 100%;}
    .col-4 {width: 100%;}
    .col-5 {width: 100%;}
    .col-6 {width: 100%;}
    .col-7 {width: 100%;}
    .col-8 {width: 100%;}
    .col-9 {width: 100%;}
    .col-10 {width: 100%;}
    .col-11 {width: 100%;}
    .col-12 {width: 100%;}
     .mid{display: block;}
     .classworker{width: 100%}
}

a.popup-link {
    padding:17px 0;
    text-align: center;
    margin:7% auto;
    position: relative;
    width: 300px;
    color: #fff;
    text-decoration: none;
    background-color: #FFBA00;
    border-radius: 3px;
    box-shadow: 0 5px 0px 0px #eea900;
    display: block;
}
a.popup-link:hover {
    background-color: #ff9900;
    box-shadow: 0 3px 0px 0px #eea900;
    -webkit-transition:all 1s;
    -moz-transition:all 1s;
    transition:all 1s;
}
/* end link popup*/

/*style untuk popup */	
#popup {
    visibility: hidden;
    opacity: 0;
    margin-top: -200px;
}
#popup:target {
    visibility:visible;
    opacity: 1;
    background-color: rgba(0,0,0,0.8);
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:0;
    z-index: 99999999999;
    -webkit-transition:all 1s;
    -moz-transition:all 1s;
    transition:all 1s;
}

@media (min-width: 768px){
    .popup-container {
        width:600px;
    }
}
@media (max-width: 767px){
    .popup-container {
        width:100%;
    }
}
.popup-container {
    position: relative;
    margin:7% auto;
    padding:30px 50px;
    background-color: #fafafa;
    color:#333;
    border-radius: 3px;
}

a.popup-close {
    position: absolute;
    top:3px;
    right:3px;
    background-color: #333;
    padding:7px 10px;
    font-size: 20px;
    text-decoration: none;
    line-height: 1;
    color:#fff;
}

/* style untuk isi popup */


.popup-form {
    margin:10px auto;
}
    .popup-form h2 {
        margin-bottom: 5px;
        font-size: 37px;
        text-transform: uppercase;
    }
    .popup-form .input-group {
        margin:10px auto;
    }
        .popup-form .input-group input {
            padding:17px;
            text-align: center;
            margin-bottom: 10px;
            border-radius:3px;
            font-size: 16px; 
            display: block;
            width: 100%;
        }
        .popup-form .input-group input:focus {
            outline-color:#FB8833; 
        }
        .popup-form .input-group input[type="text"] {
            border:0px;
            position: relative;
        }
        .popup-form .input-group input[type="submit"] {
            background-color: #FB8833;
            color: #fff;
            border: 0;
            cursor: pointer;
        }
        .popup-form .input-group input[type="submit"]:focus {
            box-shadow: inset 0 3px 7px 3px #ea7722;
        }

        