<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>KELASRUM</title>
    <link rel="stylesheet" href="../css/beranda.css">
    <link href="https://fonts.googleapis.com/css?family=Exo+2&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/png" href="../asset/iconGC.jpg">
</head>
<body> 
        <!-- style="display:none" -->
    <div class="sidenav"  id="mySidebar">
        <a href="beranda.html" >Beranda</a>
        <a href="../index.html" >Logout</a>
      </div>
    <nav> 
        <div class="iconkiri" onclick="openside()" >
            <i class="fa fa-bars" aria-hidden="true"><a href=""></a></i>
        </div> 
        <div class="google" > 
            <span style="color: mediumblue; " >G</span>
            <span style="color: red; ">o</span>
            <span style="color: rgb(236, 253, 0); ">o</span>
            <span style="color: mediumblue; " >g</span>
            <span style="color: rgb(6, 168, 14); " >l</span>
            <span style="color: rgb(230, 43, 43); " >e</span>
            <span style="color: black; ;"> Classroom Teacher</span>
            </div>
            <!-- <div class="iconplus" title="Tambah Kelas"> 
                <i class="fa fa-plus" aria-hidden="true"></i>
            </div> -->

            <div class="iconmin" style="margin-left: auto" >
                <a href="#popup"><i class="fa fa-plus" aria-hidden="true" title="tambah kelas baru"></i></a>
            </div> 
            <div class="namanya">
                
                </div>
            <div class="iconplus"> 
                <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                </div>
    </nav>
    <hr>
    <div class="container" onclick="closeside()">
    </div>
        <div class="popup-wrapper" id="popup">
        <div class="popup-container">
            <form class="popup-form">
                <h2>Silahkan masukan nama kelas</h2>
                <p>masukan nama kelas yang mudah di ingat<br/>
                <div class="input-group">
                    <p><input id="class_name" type="text" placeholder="Nama Kelas"></p>
                    <p> 
                        <a href="#closed"><input type="submit" value="Submit" name="jetpack_subscriptions_widget" onclick="registerKelas()"></a>
                    </p>
                </div>
                <a class="popup-close" href="#closed">X</a>
            </form>
        </div>
    </div>  
    <script
    src="../js/jquery.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
    <script src="../js/berandaguru.js"></script>
</body>
</html>