<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>KELASRUM</title>
    <link rel="stylesheet" href="../css/beranda.css">
    <link href="https://fonts.googleapis.com/css?family=Exo+2&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/png" href="../asset/iconGC.jpg">
</head>
<body> 
        <!-- style="display:none" -->
    <div class="sidenav"  id="mySidebar">
        <a href="beranda.html" >Beranda</a>
        <a href="../index.html" >Logout</a>
      </div>
    <nav> 
        <div class="iconkiri" onclick="openside()" >
            <i class="fa fa-bars" aria-hidden="true"><a href=""></a></i>
        </div> 
        <div class="google" > 
            <span style="color: mediumblue; " >G</span>
            <span style="color: red; ">o</span>
            <span style="color: rgb(236, 253, 0); ">o</span>
            <span style="color: mediumblue; " >g</span>
            <span style="color: rgb(6, 168, 14); " >l</span>
            <span style="color: rgb(230, 43, 43); " >e</span>
            <span style="color: black; ;"> Classroom</span>
            </div>
            <div class="iconplus" style="margin-left: auto" title="Tambah Kelas"> 
                <i class="fa fa-plus" aria-hidden="true"></i>
            </div>
            <div class="iconmin">
                <i class="fa fa-th" aria-hidden="true"></i>
            </div> 
            <div class="iconmen" > 
                <img src="../asset/aaa.png" alt="" srcset="" height="35px"></i>
                </div>
    </nav>
    <hr>
    <div class="container col-9" onclick="closeside()" >
        <!-- <div class="list1">
            <div class="juduldiv"><span style="color: black; font-family: Verdana,Arial,Helvetica,Georgia; font-size: 20px;"><a href="page1.html">Makers Academy</a></span></div>
            <p>Andri Pramana</p>
            <div><img src="../asset/images.jpg" alt=""height="100px"></div>
        </div> -->
        <!-- <div class="list1">
            <div class="blnk">
                <div class="juduldiv"><span style="color: black; font-family: Verdana,Arial,Helvetica,Georgia; font-size: 20px;">Kelas Fotografi</span></div>
                <p>Pramono</p>
                <img src="../asset/lumixg9.jpg" alt=""height="70px">
            </div>
            <div> -->
                <!-- <img src="../asset/lumixg9.jpg" alt=""height="100px"> -->
            </div>
    <script
    src="../js/jquery.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
    <script src="../js/beranda.js"></script>
</body>
</html>