<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>KELASRUM</title>
    <link rel="stylesheet" href="../css/kotretcss.css">
    <link href="https://fonts.googleapis.com/css?family=Exo+2&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/png" href="../asset/iconGC.jpg">
</head>
<body>
    
    <nav> 
        <div class="iconkiri">
            <i class="fa fa-bars" aria-hidden="true" style="font-size: 20px"><a href=""></a></i>
        </div> 
        <div class="google" > 
            <span style="color: mediumblue; font-size: 25px" >G</span>
            <span style="color: red; font-size: 25px">o</span>
            <span style="color: rgb(236, 253, 0); font-size: 25px">o</span>
            <span style="color: mediumblue; font-size: 25px" >g</span>
            <span style="color: rgb(6, 168, 14); font-size: 25px" >l</span>
            <span style="color: rgb(230, 43, 43); font-size: 25px" >e</span>
            <span style="color: black; font-family: Verdana,Arial,Helvetica,Georgia; font-size: 25px;"> Classroom</span>
            </div>
            <div class="iconmin" style="margin-left: auto">
                <i class="fa fa-minus" aria-hidden="true"></i>
            </div> 
            <div class="iconplus" > 
                <i class="fa fa-plus" aria-hidden="true"></i>
                </div>
            <div class="iconmen" > 
                <img src="../asset/aaa.png" alt="" srcset="" height="25px"></i>
                </div>
    </nav>
    <hr>
    <div class="container">
        <div class="list1">
            <div class="juduldiv"><span style="color: black; font-family: Verdana,Arial,Helvetica,Georgia; font-size: 20px;"><a href="page1.html">Makers Academy</a></span></div>
            <p>Andri Pramana</p>
            <div><img src="../asset/images.jpg" alt=""height="100px"></div>
        </div>
        <div class="list1">
            <div class="juduldiv"><span style="color: black; font-family: Verdana,Arial,Helvetica,Georgia; font-size: 20px;">Kelas Fotografi</span></div>
            <p>Pramono</p>
            <div><img src="../asset/lumixg9.jpg" alt=""height="100px"></div>
        </div>
    </div>
    <script
    src="../js/jquery.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
    <script src="../js/classes.js"></script>
</body>
</html>