<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>KELASRUM</title>
    <link rel="stylesheet" href="../css/class.css">
    <link href="https://fonts.googleapis.com/css?family=Exo+2&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/png" href="../asset/logobiru.jpg">
</head>
<body>
        <div class="sidenav"  id="mySidebar">
                <a href="beranda.html" >Beranda</a>
                <a href="../index.html" >Logout</a>
              </div>
            <nav> 
        <div class="iconkiri" onclick="openside()" >
            <i class="fa fa-bars" aria-hidden="true"></i>
        </div> 
        <div class="google" > 
            <span style="color: mediumblue; font-size: 25px" >G</span>
            <span style="color: red; font-size: 25px">o</span>
            <span style="color: rgb(236, 253, 0); font-size: 25px">o</span>
            <span style="color: mediumblue; font-size: 25px" >g</span>
            <span style="color: rgb(6, 168, 14); font-size: 25px" >l</span>
            <span style="color: rgb(230, 43, 43); font-size: 25px" >e</span>
            <span style="color: black; font-family: Verdana,Arial,Helvetica,Georgia; font-size: 25px;"> Classroom</span> 
            </div>
            <div class="iconmin"  style="margin-left: auto">
                    <i class="fa fa-sign-in" aria-hidden="true" title="Join Kelas" onclick="masukKelas()"></i>
            </div> 
            <div class="score">
                <!-- ini score -->
            </div>
            <div class="iconplus" > 
                <i class="fa fa-user-circle" aria-hidden="true"></i>
                </div>
    </nav>
    <hr>
    <div class="bpkcontainer">
        <div class="container" onclick="closeside()">
        
        </div>
    <div class="listnama" >
        <h4>Tugas Di kelas ini</h4>
        <div class="kumpulansoal">
            
                <!-- <p>ini soal</p>
                <div class="jawabanyah">
                    <p>ini jawabanya</p>
                </div> -->
            </div>
        </div>
    </div>     
    <script
    src="../js/jquery.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
    <script src="../js/class.js"></script>
</body>
</html>