<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LOGIN GURU</title>
    <link rel="stylesheet" href="../css/loginguru.css">
    <link href="https://fonts.googleapis.com/css?family=Exo+2&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/png" href="../asset/iconGC.jpg">
</head>
<body>
    <h1>LOGIN CLASSROM GURU</h1>
 
	<div class="kotak_login">
		<p class="tulisan_login">Silahkan login</p>
 
		<!-- <form> -->
			<label>Username</label>
			<input type="text" id="username" class="form_login" placeholder="">
 
			<label>Password</label>
			<input type="password"  id="password" class="form_login" placeholder="">
 
			<input type="submit" class="tombol_login" value="LOGIN" onclick="login()">
 
			<br/>
			<br/>
			<small>belum punya akun?</small>
			<center>
				<a class="link" href="registerGuru.html">Buat Akun Baru</a>
			</center>
		<!-- </form> -->
		
	</div>
	<script
    src="../js/jquery.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
 <script src="../js/loginguru.js"></script>
</body>
</html>