<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Buat Akun Anda</title>
    <link rel="stylesheet" href="../css/login.css">
    <link href="https://fonts.googleapis.com/css?family=Exo+2&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/png" href="../asset/iconGC.jpg">
</head>
<body>
 
	<div class="kotak_login">
        <center><i class="fa fa-user-circle-o" aria-hidden="true" style="font-size: 40px"></i></center>
		<p class="tulisan_login">Register</p>
 
		<!-- <form> -->
            <label>User Id</label>
            <input type="text" id="userId" class="form_login" placeholder="Nomor yang anda suka ..">
            
            <label>Username</label>
            <input type="text" id="username" class="form_login" placeholder="Username ..">
            
            <label>Fullname</label>
			<input type="text" id="fullname" class="form_login" placeholder="Masukan Nama Lengkap Anda ..">
 
			<label>Password</label>
            <input type="text" id="password" class="form_login" placeholder="Password ..">
            
            <label>Email</label>
			<input type="text" id="email" class="form_login" placeholder="Email ..">
 
			<input type="submit" class="tombol_register" value="Register" onclick="register()">
            <br>
            <br>
            <a class="back" href="../index.html">Kembali</a>
		<!-- </form> -->
		
	</div>
	<script
    src="../js/jquery.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
 <script src="../js/register.js"></script>
</body>
</html>